/*********************************** Justin Added ************************************/

/*#contactUs {
  font-family: 'PT Sans', sans-serif;
}*/

/*body {
  font-family: "Montserrat", sans-serif;
}*/

#mainBodyWrapper{
  display: static;
}


nav {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: normal; }

/*p {
  text-align: justify;
}*/


.services-container .services-menu li {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.jobs-menu li, .edit-menu li {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-top: -6%;
}

.mainNav {
  padding-right: 25%;
  font-size: 17px;
}

#footerSection {
  border-top: 2px solid #008FBE;
  position: absolute;
  bottom: ;
  width: 100%;

}

#headerSection{
  padding: 8px;
}




/********************************* Navbar ****************************************/

/*#smallLogo.largeLogo{
  background: url("/assets/images/onewaylogo.png") no-repeat;
}*/


#navbarShadowTest {
  background-color: #008FBE;
  /* margin-top: -33px; */
  margin-left: -12px;
  width: 103%;
  height: 88px;
  /* margin-top: 13px; */
  position: fixed;
  z-index: 998;
  top: 0px;
}

/****Navbar scroll transition****/
nav.navbar, #navbarShadowTest, .navbar-header, .navbar-header-min {
  /*background-color:#ccc;*/
  /* height:80px; */
   /*Animation Below*/
   /* creates navbar-shadow animation when scrolling */
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
   /* position: fixed; */
}

#navShape:after, .nav-shape-shadow:after {
  /*background-color:#ccc;*/
    /* Animation */
   /* -webkit-transition: all 0.4s ease;
   transition: all 18s ease;
   position: relative; */
}

/* determines height of navbar when scrolling */
nav.navbar.shrink, #navbarShadowTest.shrink {
  height: 59px;
  /* margin-top: -32px; */
}

#myNavbar {
  /*background-color:#ccc;*/
  margin-top: 30px;
   /* // Animation */
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
   position: relative;
   margin-right: 10px;
}

#myNavbar.moveDown{
  margin-top: 10px;
}

/*#navShape.shrink, .nav-shape-shadow.shrink {
  min-height: 100px;
}*/
/****Navbar scroll transition end****/

.navbar-default {
  border: none;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #008FBE; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #008FBE; }

.navbar-default .navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #EE8434 !important;
  background-color: #ffffff !important; }

.navbar-default .navbar-nav > li > a:focus {
  color: #008FBE; }

.dropdown > a {
  cursor: pointer;
}

/*.mainNav > * li:hover {
  background-color: #EE8434;
}*/

.dropdown-menu {
  background-color: #ffffff;
  border-top: none;
}

.dropdown-menu > li > a {
  color: #008FBE;
}

.dropdown-menu > li > a:hover {
  background-color: #008FBE;
}

#smallLogo {
  /* float: left; */
  margin-left: 110px;
  margin-top: 20px; 
  position: fixed; }
@media (max-width: 375px) {
  #smallLogo {
    margin-left: 44px;
  }
  .logo {
    margin-left: 6.25rem; } }
@media (min-width: 376px) and (max-width: 667px) {
  #smallLogo {
    margin-left: 28px;
  }
  .logo {
    margin-left: 8rem; } }
@media (min-width: 668px) and (max-width: 768px) {
  #smallLogo {
    margin-left: 24px;
  }
  .logo {
    margin-left: 8.5rem; } }
@media (min-width: 769px) and (max-width: 1024px) {
  #smallLogo {
    margin-left: 20px;
  }
  .logo {
    margin-left: 9rem;
  }
}

.navbar-header {
  min-height: 81px;
}

.navbar-header.min {
  min-height: 53px;
}

#largeLogo2 {
  margin-top: -15px;
  margin-left: 13px;
}

#largeLogo {
  float: left;
  margin-left: 50px;
  margin-top: 0px; }
@media (max-width: 375px) {
  #largeLogo {
    margin-left: -20px;
  }
  .logo {
    margin-left: 6.25rem; } }
@media (min-width: 376px) and (max-width: 667px) {
  #largeLogo {
    margin-left: -20px;
  }
  .logo {
    margin-left: 8rem; } }
@media (min-width: 668px) and (max-width: 768px) {
  #largeLogo {
    margin-left: -50px;
  }
  .logo {
    margin-left: 8.5rem; } }
@media (min-width: 769px) and (max-width: 1024px) {
  #largeLogo {
    margin-left: -50px;
  }
  .logo {
    margin-left: 9rem;
  }
}

.navbar-nav {
  margin-left: 50px;
  /*background-color: #ffffff; */
}

/* ***** navtest */
/* #navShapeTest, #navShapeShadowTest {
  width: 100px;
  height: 50px;
  background: transparent;
  position: fixed;
  margin-left: 60px;
  margin-top: -2.2em;
  z-index: 999;
}

#navShapeShadowTest {
  margin-top: -26px; 
}

#navShapeTest:after, #navShapeShadowTest:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -40px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 25px solid #ffffff;
  z-index: 999; }

.navShapeShadowTest:after {
  border-top: 29px solid #008FBE;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  left: -60px; }

#navbarShadowTest {
  background-color: #008FBE;
  margin-top: -33px;
  margin-left: -12px;
  width: 103%;
  position: fixed;
  z-index: 998; 
} */
/* END TEST ******* */

#navShape, .nav-shape-shadow {
  width: 100px;
  height: 50px;
  background: transparent;
  position: fixed;
  margin-left: 60px;
  /* margin-top: -2.2em; */
  margin-top: -3.7em;
  z-index: 999; }


.nav-shape-shadow {
  margin-top: -47px; }

#navShape:after, .nav-shape-shadow:after {
  content: "";
  position: absolute;
  /* bottom: -15px; */
  bottom: 4px;
  left: -40px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 25px solid #ffffff;
  z-index: 999; }

.nav-shape-shadow:after {
  border-top: 29px solid #008FBE;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  left: -60px; }

.navbar-shadow {
  background-color: #008FBE;
  margin-top: -33px;
  margin-left: -12px;
  width: 103%;
  position: fixed;
  z-index: 998; }



/*/////////// Circle behind ///////*/
#myNavbar > ul > li:before, #myNavbar > ul > li:after {
    position: absolute;
    top: 24px;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 4px dashed #EE8434;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

#myNavbar > ul > li:after {
    border-width: 4px;
    transition: all 0.4s;
}

#myNavbar > ul > li:hover:before {
    opacity: .4;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

#myNavbar > ul > li:hover:after {
    opacity: .9;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}
/*/////////// Circle END ///////*/

/* /////////// Pull Right  ///////*/
/*#myNavbar > ul > li:before {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #EE8434;
    opacity: 0.3;
    transition: all 0.3s;
}

#myNavbar > ul > li:hover:before {
    width: 100%;
}*/

/* Pull down  */
/*#myNavbar > ul > li:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #EE8434;
    opacity: 0.3;
    transition: all 0.3s;
}

#myNavbar > ul > li:hover:before
{
    height: 100%;
}*/

/* Top and Bottom borders go out */
/*#myNavbar > ul > li:before, #myNavbar > ul > li:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #EE8434;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

#myNavbar > ul > li:before
{
    top: 0px;
    transform: translateY(10px);
}

#myNavbar > ul > li:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

#myNavbar > ul > li:hover:before, #myNavbar > ul > li:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}*/

/* Top border go down and Left border appears */
/*#myNavbar > ul > li:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #EE8434;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

#myNavbar > ul > li:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #EE8434;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

#myNavbar > ul > li:hover:before
{
    height: 100%;
}

#myNavbar > ul > li:hover:after
{
    opacity: 0;
    top: 100%;
}*/

.blueHash {
  background-image: url("/assets/images/icons/blueTexture.jpg");
  background-repeat: repeat;
  height: 24px;
  margin-left: -10px;
  margin-right: -10px;
}

/********************************* Navbar END ****************************************/

/********************************* Home Page ****************************************/
#home-images {
  padding: 0;
  z-index: 1;
  position: relative;
  height: inherit;
  /*height: 600px;*/
  /*min-height: 800px;*/
}
  #home-images img {
    height: inherit;
    display: block;
    z-index: -1;
  }

.image-text-float{
  /*border-top: 2px solid rgba(238,132,52,0.8);*/
  margin-top: 400px;
  background-color: rgba(34,116,165,0.8);
  position: absolute;
  z-index: 1;
  right: 0;
}

/* HIDE BANNER AND TOWER IMG WHEN SMALLER THAN 991PX */
@media screen and (max-width: 991px){
  #hideOnSm {
    display: none;
  }
}

/*//////ANIMATION: Top and Bottom borders go out /////////*/
.image-text-float:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #EE8434;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.image-text-float:before
{
    top: 0px;
    transform: translateY(10px);
}

.image-text-float:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.image-text-float:hover:before, .image-text-float:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
/* Top and Bottom borders go out */

#float-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 55px;
}

.since1977Title {
  text-align: center;
  margin-bottom: -25px;
}

.since1977 {
  border-top: 2px solid #EE8434;
  background-color:#2274A5;
  padding-bottom: 20px;
  margin-bottom: 5%;
  text-align: center;
}

.work-the-right-way{
  background-color:#CECECE;
  /*border-top: 2px solid #EE8434;*/
  padding-left: 50px;
  /* margin-bottom: 100px; */
  padding-bottom: 20px;
  margin-bottom: 5%;
  overflow: auto;
}

.work-home-content h3, .work-contact-content h3 {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center; }
.work-home-content p, .work-contact-content p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px; }
/* .work-home-content a {
  float: right; 
  margin-bottom: 20px;  
} */

#join-btn {
  float: right;
}

.work-contact-content{
  /* padding-left: 5%; */
  background-color:#EE8434;
  padding-left: 50px;
}

.work-contact-content a {
  margin-bottom: 20px;
  float: left; }

.worker-image {
  height: 430px;
  position: relative;
  margin-top: -80px; }

#contactUsButton{
  color: black;
}

.tower-image {
  position: relative;
  /* height: 550px; */
  max-height: 100%;
  max-height: 550px;
  /* margin-top: -100px; */
  margin-left: -85px; }

  .bottomSVGLine {
    height: 0px;
    /*background-color: #343839;*/
    margin-top: -20px;
  }

  /*/////////////Home Screen Animations/////////////////////*/
  /*fade in animation*/
.animateHomeImage {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/********************************* Home Page END ****************************************/

/********************************* Page Headers ****************************************/
.menu-header   {
  margin-top: 55px;
  font-size: 36px;
  text-align: left;
  margin-bottom: 1rem;
  margin-left: 3rem;
  color: #008FBE;
}

.contact-us-header {
  margin-left: 4.5rem;
}

.about-us-header, .our-staff-header {
  margin-left: 5.5rem;
}

.photo-header, .careers-header {
  margin-left: 7.5rem;
}
.video-header {
  margin-left: 8.1rem;
}

.staff-container .manage-heading {
  color: #FF9B42;
  font-size: 36.57143px;
  margin-bottom: 5%;
  margin-top: 3%; }

.staff-container-combined {
  /*margin-top: 3%;*/
}

  .staff-container .ceo-heading {
    margin-bottom: 2%;
    margin-top: 1%; }



/********************************* Page Headers END ****************************************/

/********************************* Staff Page  ****************************************/

.staff figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%; }

.staff .front {
  background-color: #91B1BC;
  background-image: url("../assets/images/concrete_wall_v2.png");
  background-position: center;
  border: 5px solid #008FBE;
}

.staff .back {
  transform: rotateX(180deg); }
  .staff .back h3 {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto; }
  .staff .back::after {
    border-radius: 50%;
    content: "";
    background: url("../assets/images/staff/tie-640.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-filter: grayscale(2);
    /* Old WebKit */
    filter: grayscale(2); }

.staff.flipped {
  transform: rotateX(180deg); }

/***********************************Staff styles********************************/
.staff-container {
  padding-bottom: 50px; }
  .staff-container h1 {
    color: #FF9B42;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .staff-container section {
    height: 275px; }
  .staff-container h3 {
    text-align: center;
    font-size: 16px;
    color: #008FBE;
    display: block;
  }
  .staff-container .front h3 {
    margin-top: 14rem;
  }
  .staff-container .back p {
    text-align: center;
    width: 190px;
    height: 190px;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #343839; }
  .staff-container .ceo-text h3 {
    color: #008FBE;
    text-align: left;
    font-size: 21px; }
  /*.staff-container .manage-heading {
    color: #FF9B42;
    font-size: 36.57143px;
    margin-bottom: 5%;
    margin-top: 3%; }*/

    .topOfCardFront{
      font-size: 20px;
      max-width: 150px;
      /*margin-top: 3rem;*/
      margin-left: auto;
      margin-right: auto;
      /*margin-bottom: -20px;*/
      color: #FF9B42;
      text-align: center;
      max-height: 20px;
    }

#who-images {
  margin-top: -20px;
  /*margin-bottom: -20%;*/
}

    /********************************* Staff Page END ****************************************/


/********************************* About Us Page ****************************************/
.ceo {
  margin-top: 3%;
  background-image: url("../assets/images/staff/gary_bormes_v3.jpg");
  background-size: 250px 250px;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #008FBE;
}
/********************************* About Us Page END ****************************************/

/********************************* Careers Page ****************************************/
.careers-container {
  position: static;
  padding-bottom: 10%;
}

.careersBulletList li {
  list-style-type: disc;
  font-size: 19px;
}

.jobs-menu li, .edit-menu li {
  letter-spacing: normal;
  font-size: 18px;
}

.jobs-menu {
  border-right: 2px solid #008FBE;
  margin-left: -3%;
 }

.job-postings {
  border-left: 2px solid #ffffff; }

  .job-title strong, .job-title {
    color: #FF9B42;
    text-decoration: ;
    text-align: center;
    font-size: 24px; }

.job-content {
  text-align: justify;
  text-justify: inter-word;
}

  #job-landing-static {
    text-align: center;
    padding-bottom: 5%;
  }

  /********************************* Careers Page END ****************************************/

  /********************************* Services Page  ****************************************/

/* fixes the services page issue where the user is unable to scroll*/
.services-container {
  position: static;
  padding-bottom: 10%;
}

.services-container .services-menu li {
  letter-spacing: normal;
}

.services-container .services-content {
  margin-top: -25px;
}



.service-type {
  width: 100%;
  /*margin-left: -1.5%;*/
  background-color:rgba(0, 143, 190, 1);
  /*background-color: #008FBE;*/
  height: 100px;
  font-size: 30px;
  height: 60px;
  padding-top: 13px;
  color: white;
  border-radius: 10px;
}

.serviceBulletList{
  width: 80%;
  margin-left: 10%;
  font-size: 12px;
}

.serviceBulletList Li{
  list-style-type: disc;
}

.whoWeAreContainer {
  /*margin: auto;*/
  position: static ;
  /*min-height: 100%;*/
  padding-bottom: 25%;
}

#servicesLandingStatic {
  text-align: center;
  padding-bottom: 7%;
  /*background-color: lightgrey;*/
}

#servicesLandingDetails {
  text-align: center;
}

#serviceLanding {
  /*background-image: url('../assets/images/staff/new hand logo v2.jpg');*/
  /*margin-left: -0px;*/
  /*margin-top: -50px;*/
  /*height: 80%;
  width: 80%;*/
}

#serviceLanding img {
  /*background-image: url('../assets/images/staff/new hand logo v2.jpg');*/
  /*margin-left: -0px;*/
  /*margin-top: -50px;*/
  /*height: 530px;
  width: 530px;*/
  margin-left: 80px;
  /*margin-top: -60px;*/
}


/********************************* Services Page END ****************************************/

/********************************* ContactUs Page  ****************************************/

.contactUs-container {
  position: static;
  padding-bottom: 10%;
}

/*Overlay is for the div covering the google map on Contact Us Page*/
.overlay {
  margin: auto;
   background:transparent;
   position:relative;
   width:100%;
   height:500px; /* your iframe height */
   top:500px;  /* your iframe height */
   margin-top:-500px;  /* your iframe height */
   /*border-top: 2px solid #008FBE;
   border-bottom: 2px solid #008FBE;*/
}

#contactUsBanner {
  margin-top: 3%;
  margin-bottom: 4%;
}

#googleMap {
  margin: auto;
  padding-top: 1px;
  width: 90%;
  height: 500px;
  border-top: 2px solid #008FBE;
  border-bottom: 2px solid #008FBE;
}


#mainContactSection {
  text-align: center;
  margin: auto;
  margin-top: 5%;
  height: 300px;
  margin-bottom: 20% ;
}

#mainContactForm {
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 15px;
}

#contactCallUs {
  margin: auto;
  margin-bottom: 4%;
  margin-top: 4%;
  display: block;
}

#contactUsNumber {
  display: block;
}

/********************************* ContactUs Page END ****************************************/

/********************************* Photo and Video Pages  ****************************************/
.photo-container {
  position: static;
  bottom: 0;
  padding-bottom: 10%;
}


/********************************* Photo and Video Pages END ****************************************/

hr.style1 {
	height: 6px;
  width: 60%;
	background: url(/assets/images/icons/hr-11_orange.png) repeat-x 0 0;
  border: 0;
}

hr.style2 {
	height: 6px;
  width: 28%;
	background: url(/assets/images/icons/hr-11_orange.png) repeat-x 0 0;
  border: 0;
}


.orange-highlight{
  color: #FF9B42;
}

/*Strong is for the bolding options in the WYSIWYG editor*/
strong {
  text-shadow: 0px 0px black;
  color: black;
}

    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
