/*********************************** Justin Added ************************************/

/*#contactUs {
  font-family: 'PT Sans', sans-serif;
}*/

/* fixes the services page issue where the user is unable to scroll*/
.services-container {
  position: static;
  padding-bottom: 10%;
}

.services-container .services-content {
  padding-left: 3%;
}

.services-container .services-content .service-type {
  text-align: right
}

#servicesLandingStatic {
  text-align: center;
  padding-bottom: 10%;
}

#servicesLandingDetails {
  text-align: center;
}

/*Overlay is for the div covering the google map on Contact Us Page*/
.overlay {
  margin: auto;
   background:transparent;
   position:relative;
   width:100%;
   height:500px; /* your iframe height */
   top:500px;  /* your iframe height */
   margin-top:-500px;  /* your iframe height */
   /*border-top: 2px solid #008FBE;
   border-bottom: 2px solid #008FBE;*/
}

#contactUsBanner {
  margin-top: 3%;
  margin-bottom: 4%;
}

#googleMap {
  margin: auto;
  padding-top: 1px;
  width: 90%;
  height: 500px;
  border-top: 2px solid #008FBE;
  border-bottom: 2px solid #008FBE;
}


#mainContactSection {
  text-align: center;
  margin: auto;
  margin-top: 5%;
  height: 300px;
  margin-bottom: 20% ;
}

#mainContactForm {
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 15px;
}

#contactCallUs {
  margin: auto;
  margin-top: 4%;
}

hr.style1 {
	height: 6px;
  width: 60%;
	background: url(/assets/images/hr-11_orange.png) repeat-x 0 0;
  border: 0;
}

hr.style2 {
	height: 6px;
  width: 28%;
	background: url(/assets/images/hr-11_orange.png) repeat-x 0 0;
  border: 0;

}

.orange-highlight{
  color: #FF9B42;
}

/*Strong is for the bolding options in the WYSIWYG editor*/
strong {
  text-shadow: 0px 0px black;
  color: black;
}

    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
