html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  margin-top: 30px;
  font-family: 'Nunito Sans', sans-serif; }

/********************************* Navbar ****************************************/
.navbar-default {
  border-bottom: none; }

.logo {
  float: left;
  margin-left: 11rem;
  margin-top: 0.5rem; }
  @media (max-width: 375px) {
    .logo {
      margin-left: 6.25rem; } }
  @media (min-width: 376px) and (max-width: 667px) {
    .logo {
      margin-left: 8rem; } }
  @media (min-width: 668px) and (max-width: 768px) {
    .logo {
      margin-left: 8.5rem; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .logo {
      margin-left: 9rem; } }

.navbar-nav {
  margin-left: 50px; }

#navShape {
  width: 100px;
  height: 50px;
  background: transparent;
  position: fixed;
  margin-left: 5%;
  margin-top: -2em;
  z-index: 999; }

#navShape:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: -40px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 25px solid #f8f8f8;
  z-index: 998; }

main {
  padding-top: 10px; }

/*********************************** Home Styles ************************************/
.home-container {
  background-image: url("../assets/images/cell-tower-1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1296px;
  height: 600px;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1; }

#home-content {
  text-align: center;
  margin-top: 15%; }
  #home-content h1 {
    font-size: 5rem; }
  #home-content h3 {
    margin-top: 0.5rem;
    font-size: 3rem; }
  #home-content button {
    width: 25rem;
    background-color: transparent;
    border-width: 3px;
    color: #302D2D; }

/********************************* Services Styles *****************************/
.services-container {
  width: 100%;
  margin-left: -1%; }
  .services-container h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2.5rem; }

.contain {
  height: 49.5rem;
  perspective: 800px;
  position: relative; }

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }
  .card h3 {
    text-align: center;
    color: white;
    display: block;
    margin-top: 21rem;
    transition: margin-top 0.5s;
    transition-delay: 0.15s; }

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.card .front {
  background-color: #91B1BC; }

#card-1 .front {
  background-image: url("../assets/images/services/excavators-640.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#card-2 .front {
  background-image: url("../assets/images/services/electric-640.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#card-3 .front {
  background-image: url("../assets/images/services/building-640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#card-4 .front {
  background-image: url("../assets/images/services/maintenance-640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#card-5 .front {
  background-image: url("../assets/images/services/tower-640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#card-6 .front {
  background-image: url("../assets/images/services/tower-two-640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#card-7 .front {
  background-image: url("../assets/images/services/trouble-shoot-640.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; }

#card-8 .front {
  background-image: url("../assets/images/services/weld-640.jpg");
  background-repeat: no-repeat;
  background-position: center; }

#card-9 .front {
  background-image: url("../assets/images/services/crane-640.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.card .back {
  background-color: #008FBE;
  transform: rotateY(180deg); }

.card.flipped {
  transform: rotateY(180deg); }
  .card.flipped h3 {
    margin-top: 1rem; }

/********************************* Who We Are **********************************/
.who-wrapper {
  padding-top: 5%;
  margin-left: 3.5%;
  position: fixed; }

.who-container {
  margin-left: -5%; }
  .who-container h1, .who-container h3 {
    text-align: center; }
  .who-container h3 {
    margin-top: 0; }

.who-images {
  margin-top: 1%; }
  .who-images img {
    margin-bottom: 1%; }
    .who-images img:last-child {
      margin-bottom: 0; }

/********************* Staff Styles *********************/
.staff {
  width: 250px;
  height: 250px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }

.staff figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%; }

.staff .front {
  background-color: #91B1BC;
  background-image: url("../assets/images/staff/tie-640.jpg");
  background-position: center; }

.staff .back {
  transform: rotateX(180deg); }
  .staff .back::after {
    border-radius: 50%;
    content: "";
    background: url("../assets/images/staff/tie-640.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-filter: grayscale(2);
    /* Old WebKit */
    filter: grayscale(2); }

.staff.flipped {
  transform: rotateX(180deg); }

/***********************************Staff styles********************************/
.staff-container {
  padding-bottom: 50px; }
  .staff-container h1 {
    color: #302D2D;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .staff-container section {
    height: 275px; }
  .staff-container h3 {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    display: block; }
  .staff-container .front h3 {
    margin-top: 20rem; }
  .staff-container .back p {
    text-align: center;
    width: 190px;
    height: 190px;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #302D2D; }

/************************************Jobs***************************************/
.admin-edit-header {
  padding: 30px 0;
  width: 95%;
  margin: 0 auto; }
  .admin-edit-header .add-buttons {
    display: inline-block; }

.add-buttons {
  width: 100%;
  text-align: center; }
  .add-buttons button {
    width: 25%; }
    .add-buttons button:first-of-type {
      margin-right: 5%; }

.job-posting {
  text-align: center;
  border-bottom: 2px solid #302D2D;
  padding-bottom: 1%;
  padding-top: 1%; }
  .job-posting:first-of-type {
    border-top: 2px solid #302D2D; }
  .job-posting:last-of-type {
    border-bottom: none; }

.job-post-controls {
  margin-top: 25px; }
  .job-post-controls .btn {
    margin-top: -34px;
    margin-right: 15px; }

.onOffSwitch {
  display: inline-block; }
  .onOffSwitch p, .onOffSwitch label {
    display: inline-block; }
  .onOffSwitch p {
    margin-top: -24px;
    vertical-align: middle; }

.slider {
  background-color: #CECECE; }

input:checked + .slider {
  background-color: #008FBE; }

input:focus + .slider {
  box-shadow: 0 0 1px #008FBE; }

.job-posting:nth-child(odd) {
  background-color: #CECECE; }
.job-posting:nth-child(even) {
  background-color: #ffffff; }

/*********************************** Footer ************************************/
#headerSection {
  padding: 10px; }

#footerSection {
  background: #efefef;
  width: 100%;
  height: 55px;
  position: fixed;
  bottom: 0px;
  left: 0;
  text-align: center; }
  #footerSection #footer-contact, #footerSection #footer-connect {
    margin-top: 3px; }
    #footerSection #footer-contact p, #footerSection #footer-connect p {
      text-decoration: underline; }
  #footerSection #footer-address {
    margin-left: 5px;
    text-align: left;
    margin-top: -12px;
    font-size: 10px; }
    #footerSection #footer-address p:nth-of-type(2) {
      margin-top: -10px;
      margin-left: 35px; }
  #footerSection #footer-nums {
    font-size: 10px;
    margin-top: -12px; }
    #footerSection #footer-nums p:nth-of-type(2) {
      margin-top: -10px; }
  #footerSection #copyright {
    font-size: 8px;
    text-align: right;
    margin-top: 5px;
    margin-left: -5px; }
  #footerSection #footer-socials {
    margin-top: -10px; }
    #footerSection #footer-socials img:nth-of-type(2) {
      margin-left: 10px; }
  #footerSection .social-icon {
    width: 30px; }

.btn-info {
  background-color: #008FBE;
  border-color: #008FBE; }
  .btn-info:hover {
    background-color: #008FBE;
    border-color: #008FBE;
    opacity: 0.5; }

.btn-danger {
  background-color: #FF9B42;
  border-color: #FF9B42; }
  .btn-danger:hover {
    background-color: #FF9B42;
    border-color: #FF9B42;
    opacity: 0.5; }

/*# sourceMappingURL=generalStyling.css.map */
