html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  margin-top: 30px;
  font-family: "Assistant", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  letter-spacing: normal; }

h1 {
  color: #FF9B42;
  font-size: 64px;
  text-align: center; }

/********************************* Navbar ****************************************/
.navbar-default {
  border: none;
  background-color: #848C8E; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #008FBE; }

.navbar-default .navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #008FBE !important;
  background-color: #848C8E !important; }

.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff; }

.dropdown-menu {
  background-color: #848C8E;
  border-top: none; }

.dropdown-menu > li > a {
  color: #ffffff; }

.dropdown-menu > li > a:hover {
  background-color: #008FBE; }

.logo {
  float: left;
  margin-left: 11rem;
  margin-top: 0.5rem; }
  @media (max-width: 375px) {
    .logo {
      margin-left: 6.25rem; } }
  @media (min-width: 376px) and (max-width: 667px) {
    .logo {
      margin-left: 8rem; } }
  @media (min-width: 668px) and (max-width: 768px) {
    .logo {
      margin-left: 8.5rem; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .logo {
      margin-left: 9rem; } }

.navbar-nav {
  margin-left: 50px;
  background-color: #848C8E; }

#navShape {
  width: 100px;
  height: 50px;
  background: transparent;
  position: fixed;
  margin-left: 5%;
  margin-top: -2.2em;
  z-index: 999; }

#navShape:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -40px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 25px solid #848C8E;
  z-index: 999; }

main {
  padding-top: 10px; }

/*********************************** Home Styles ************************************/
.home-container {
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

.tower-image {
  position: absolute;
  height: 700px;
  z-index: 9999;
  top: 500px; }

#home-images {
  z-index: 1;
  position: relative;
  height: 250px; }
  #home-images img {
    height: 250px;
    display: block; }

#home-content {
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  text-align: center; }
  #home-content h1 {
    font-size: 5rem; }
  #home-content h3 {
    margin-top: 0.5rem;
    font-size: 3rem;
    font-family: "Assistant", sans-serif; }

.home-sub-content {
  border-top: 3px solid #FF9B42; }
  .home-sub-content:last-of-type {
    border-top: none;
    padding-bottom: 20px; }
  .home-sub-content .col-xs-6 {
    padding-left: 40px; }
    .home-sub-content .col-xs-6:last-child {
      padding-left: 0;
      padding-right: 40px; }

/********************************* Services Styles *****************************/
.services-container {
  width: 100%;
  margin: auto;
  position: fixed; }
  .services-container .menu-header {
    margin-top: 35px; }
  .services-container .services-menu {
    border-right: 2px solid #008FBE; }
    .services-container .services-menu ul {
      list-style: none; }
    .services-container .services-menu li {
      font-family: "Josefin Slab", serif;
      letter-spacing: 2px;
      font-size: 21px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #FF9B42;
      transition: all 0.25s;
      width: auto; }
      .services-container .services-menu li:hover, .services-container .services-menu li.selected {
        border-bottom: 1px solid #008FBE;
        color: #008FBE; }
  .services-container h1 {
    font-size: 36px;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: #008FBE; }
  .services-container p {
    font-size: 1.5em;
    width: 85%;
    margin-left: auto;
    margin-right: auto; }
    .services-container p:first-of-type {
      margin-bottom: 30px; }
    .services-container p h3 {
      text-align: center; }
  .services-container .services-content {
    padding-top: 5px; }
    .services-container .services-content h3 {
      text-align: center; }
    .services-container .services-content ul {
      list-style-type: circle; }
    .services-container .services-content li {
      font-family: "Assistant", sans-serif;
      font-size: 1.5em; }
    .services-container .services-content .service-type {
      color: #FF9B42;
      text-decoration: underline; }

/********************************* Who We Are **********************************/
.who-wrapper {
  padding-top: 5%;
  margin-left: 3.5%;
  position: fixed; }

.who-container {
  margin-left: -5%; }
  .who-container h1, .who-container h3 {
    text-align: center; }
  .who-container h3 {
    margin-top: 0; }

.who-images {
  margin-top: 1%; }
  .who-images img {
    margin-bottom: 1%; }
    .who-images img:last-child {
      margin-bottom: 0; }

/********************* Staff Styles *********************/
.staff {
  width: 250px;
  height: 250px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }

.staff figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%; }

.staff .front {
  background-color: #91B1BC;
  background-image: url("../assets/images/staff/tie-640.jpg");
  background-position: center; }

.staff .back {
  transform: rotateX(180deg); }
  .staff .back::after {
    border-radius: 50%;
    content: "";
    background: url("../assets/images/staff/tie-640.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-filter: grayscale(2);
    /* Old WebKit */
    filter: grayscale(2); }

.staff.flipped {
  transform: rotateX(180deg); }

/***********************************Staff styles********************************/
.staff-container {
  padding-bottom: 50px; }
  .staff-container h1 {
    color: #FF9B42;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .staff-container section {
    height: 275px; }
  .staff-container h3 {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    display: block; }
  .staff-container .front h3 {
    margin-top: 20rem; }
  .staff-container .back p {
    text-align: center;
    width: 190px;
    height: 190px;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #343839; }

/************************************Jobs***************************************/
.admin-edit-header {
  padding: 30px 0;
  text-align: center; }
  .admin-edit-header h1 {
    color: #FF9B42;
    font-size: 32px; }
  .admin-edit-header .add-buttons {
    display: inline-block; }

.job-posting {
  border-left: 2px solid #008FBE;
  text-align: left; }
  .job-posting h4, .job-posting h5 {
    font-size: 18px; }
  .job-posting p {
    font-size: 21px; }

.apply-posting {
  min-height: 450px; }
  .apply-posting .apply-button {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.job-post-controls {
  margin-top: 25px; }
  .job-post-controls .btn {
    margin-top: -34px;
    margin-right: 15px; }

.onOffSwitch {
  display: inline-block; }
  .onOffSwitch p, .onOffSwitch label {
    display: inline-block; }
  .onOffSwitch p {
    margin-top: -24px;
    vertical-align: middle; }

.posting-section {
  margin-bottom: 5%; }

.slider {
  background-color: #848C8E; }

input:checked + .slider {
  background-color: #008FBE; }

input:focus + .slider {
  box-shadow: 0 0 1px #008FBE; }

.highlight-title strong {
  color: #008FBE; }

.modal-content {
  padding: 20px; }
  .modal-content h3 {
    margin-top: 0;
    color: #343839; }
  .modal-content label {
    font-size: 16px;
    color: #343839; }
  .modal-content button {
    background-color: #008FBE;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #ffffff;
    width: 25%;
    margin: auto; }
  .modal-content input, .modal-content trix-editor {
    appearance: none;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    margin-bottom: 9%; }
  .modal-content trix-toolbar {
    margin-bottom: 5%; }
    .modal-content trix-toolbar button {
      background-color: transparent; }
  .modal-content trix-editor {
    height: 200px;
    margin-bottom: 3%;
    overflow: scroll; }

.jobs-page, .admin-page {
  min-height: 590px;
  padding-bottom: 1%; }

.job-postings .row {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

.applyNow form {
  padding: 10px; }
.applyNow input {
  margin-bottom: 15px;
  margin-right: 10px;
  width: 40%; }
  .applyNow input.large-input {
    width: calc(80% + 15px); }
.applyNow input[type=file] {
  margin-bottom: 15px;
  width: 82%; }
.applyNow input[type=submit] {
  margin-left: 20%; }
.applyNow input[type=file]:focus {
  outline: none; }

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden; }

.custom-file-input::before {
  content: 'Upload Your Resume';
  -webkit-user-select: none;
  color: #ffffff;
  position: absolute;
  left: 41.5%;
  transform: translate(-50%, 0); }

.custom-file-input {
  color: transparent; }
  .custom-file-input:hover, .custom-file-input:active, .custom-file-input:focus {
    color: transparent;
    outline: none; }
  .custom-file-input.btn-info:active:focus {
    color: transparent;
    outline: none; }

.job-content {
  text-align: left; }

.job-postings {
  border-left: 2px solid #008FBE; }
  .job-postings article {
    display: none; }

.job-posting {
  min-height: 350px; }
  .job-posting .admin-job {
    display: none; }

.job-title strong, .job-title {
  color: #FF9B42;
  text-decoration: underline;
  text-align: center;
  font-size: 24px; }

.job-header .menu-header {
  margin-top: 35px; }
.job-header h1 {
  font-size: 36px;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-left: 1rem;
  color: #008FBE; }

.jobs-menu ul, .edit-menu ul {
  list-style: none; }
.jobs-menu li, .edit-menu li {
  font-family: "Josefin Slab", serif;
  letter-spacing: 2px;
  font-size: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #FF9B42;
  transition: all 0.25s;
  width: auto; }
  .jobs-menu li:hover, .jobs-menu li.selected, .edit-menu li:hover, .edit-menu li.selected {
    border-bottom: 1px solid #008FBE;
    color: #008FBE; }

.job-load-text .subheading, .admin-load-text .subheading {
  text-align: left; }
.job-load-text h3, .admin-load-text h3 {
  text-align: center; }
.job-load-text ul, .admin-load-text ul {
  list-style: circle; }

/*********************************** Footer ************************************/
#headerSection {
  padding: 10px; }

.admin-auth {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #CECECE;
  border: none; }
  .admin-auth:hover {
    color: #FF9B42; }

#footerSection {
  background: #848C8E;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  left: 0;
  text-align: center;
  color: #CECECE; }
  #footerSection #footer-contact, #footerSection #footer-connect {
    margin-top: 3px; }
    #footerSection #footer-contact p, #footerSection #footer-connect p {
      text-decoration: underline; }
  #footerSection #footer-address {
    margin-left: 5px;
    text-align: left;
    margin-top: -12px;
    font-size: 10px; }
    #footerSection #footer-address p:nth-of-type(2) {
      margin-top: -10px;
      margin-left: 35px; }
  #footerSection #footer-nums {
    font-size: 10px;
    margin-top: -12px; }
    #footerSection #footer-nums p:nth-of-type(2) {
      margin-top: -10px; }
  #footerSection #copyright {
    font-size: 8px;
    text-align: right;
    margin-left: -5px; }
  #footerSection #footer-socials {
    margin-top: -10px; }
    #footerSection #footer-socials img:nth-of-type(2) {
      margin-left: 10px; }
  #footerSection .social-icon {
    width: 30px; }

.hidden {
  display: none; }

.btn-info {
  background-color: #008FBE;
  border-color: #008FBE; }
  .btn-info:hover {
    background-color: #008FBE;
    border-color: #008FBE;
    opacity: 0.5; }

.btn-danger {
  background-color: #FF9B42;
  border-color: #FF9B42; }
  .btn-danger:hover {
    background-color: #FF9B42;
    border-color: #FF9B42;
    opacity: 0.5; }

.subheading {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-size: 21px; }

.blue-highlight {
  color: #008FBE; }

/*# sourceMappingURL=generalStyling.css.map */
