html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
  margin-top: 30px;
  font-family: 'Nunito Sans', sans-serif;
}


/********************************* Navbar ****************************************/
// Remove bootstraps default nabar border
.navbar-default{
  // Remove bootstraps default nabar border
  border-bottom: none;
}
.logo{
  float:left;
  margin-left: 11rem;
  margin-top: 0.5rem;
  //iphone vertical
  @media (max-width: 375px){
    margin-left: 6.25rem;
  }
  //iphone landscape
  @media (min-width: 376px) and (max-width: 667px){
  margin-left: 8rem;
  }
  //ipad vertical
  @media (min-width:668px ) and (max-width:768px){
    margin-left: 8.5rem;
  }
  //ipad landscape
  @media (min-width:769px) and (max-width:1024px){
    margin-left: 9rem;
  }

}
.navbar-nav{
  margin-left: 50px;
}
#navShape {
	width: 100px;
	height: 50px;
	background: transparent;
	position: fixed;
  margin-left: 5%;
  margin-top: -2em;
  z-index: 9999999;
}


#navShape:after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: -40px;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 25px solid #f8f8f8;
  z-index: 9999;
}
/*********************************** Home Styles ************************************/
.home-container{
  // Test Image until we have assets to use
  background-image: url("../assets/images/cell-tower-1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1296px;
  height: 600px;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
}

#home-content{
  text-align: center;
  margin-top: 15%;
  h1{
    font-size: 5rem;
  }
  h3{
    margin-top: 0.5rem;
    font-size:3rem;
  }
  button{
    width: 25rem;
    background-color: transparent;
    border-width: 3px;
    color: black;
  }
}
/********************************* Services Styles *****************************/
.services-container{
  width: 100%;
	margin-left: -1%;

  h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}
// csss for card flip animation
.contain {
  height: 49.5rem;
  perspective: 800px;
	position: relative;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
	h3{
		text-align: center;
		color: white;
		display: block;
		margin-top: 21rem;
		transition: margin-top 0.5s;
		transition-delay: 0.15s;
	}
}
.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  background-color: #91B1BC;
}
#card-1 .front{
	background-image: url("../assets/images/services/excavators-640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#card-2 .front{
	background-image: url("../assets/images/services/electric-640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#card-3 .front{
	background-image: url("../assets/images/services/building-640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#card-4 .front{
	background-image: url("../assets/images/services/maintenance-640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#card-5 .front{
	background-image: url("../assets/images/services/tower-640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#card-6 .front{
	background-image: url("../assets/images/services/tower-two-640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#card-7 .front{
	background-image: url("../assets/images/services/trouble-shoot-640.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
#card-8 .front{
	background-image: url("../assets/images/services/weld-640.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
#card-9 .front{
	background-image: url("../assets/images/services/crane-640.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.card .back {
  background-color: #008FBE;
  transform: rotateY( 180deg );
}
.card.flipped {
  transform: rotateY( 180deg );
	h3{
		margin-top: 1rem;
	}
}

// Staff Profile flips
.staff{
  width: 250px;
  height: 250px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;

}
.staff figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
	border-radius: 50%;

}
.staff .front{
	 background-color: #91B1BC;
	 background-image: url("../assets/images/staff/tie-640.jpg");
	 background-position: center;
	}
.staff .back {
  transform: rotateX( 180deg );
	&::after {
	border-radius: 50%;
  content: "";
  background: url("../assets/images/staff/tie-640.jpg") no-repeat center center;
  background-size:cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-filter: grayscale(2); /* Old WebKit */
  filter: grayscale(2);
	}
}
.staff.flipped {
  transform: rotateX( 180deg );

}

/***********************************Staff styles********************************/
.staff-container{
	color: white;
	h1{
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
	section{
		height: 275px;
	}
	 h3{
		text-align: center;
		font-size: 16px;

		display: block;

	}
	.front h3{
		margin-top: 20rem;
	}
	.back p{
		text-align: center;
		width: 190px;
		height: 190px;
		font-size: 10px;
		margin-left: auto;
		margin-right: auto;
		color: black;
	}
}
/*********************************** Footer ************************************/


#headerSection {

	padding:10px;
}

#footerSection {
	background:#efefef;
	width:100%;
	height:55px;
	position:fixed;
	bottom:0px;
	left:0;
  text-align: center;
	#footer-contact, #footer-connect{
		margin-top: 3px;
		p{
			text-decoration: underline;
	}
	}
	#footer-address{
		margin-left: 5px;
		text-align: left;
		margin-top: -12px;
		font-size: 10px;
		p:nth-of-type(2){
			margin-top: -10px;
			margin-left: 35px;
		}
	}
	#footer-nums{
		font-size: 10px;
		margin-top: -12px;
		p:nth-of-type(2){
			margin-top: -10px;
		}
	}
	#copyright{
		font-size: 8px;
		text-align: right;
		margin-top: 5px;
		margin-left: -5px;
	}
#footer-socials{
	margin-top: -10px;
	img:nth-of-type(2){
		margin-left: 10px;
	}
}
	.social-icon{
		width: 30px;
	}
}
