html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
  margin-top: 30px;
  font-family: 'Nunito Sans', sans-serif;
}

/********************************* Navbar ****************************************/
// Remove bootstraps default nabar border
.navbar-default{
  // Remove bootstraps default nabar border
  border-bottom: none;
}
.logo{
  float:left;
  margin-left: 11rem;
  margin-top: 1rem;
  //iphone vertical
  @media (max-width: 375px){
    margin-left: 6.25rem;
  }
  //iphone landscape
  @media (min-width: 376px) and (max-width: 667px){
  margin-left: 8rem;
  }
  //ipad vertical
  @media (min-width:668px ) and (max-width:768px){
    margin-left: 8.5rem;
  }
  //ipad landscape
  @media (min-width:769px) and (max-width:1024px){
    margin-left: 9rem;
  }

}
.navbar-nav{
  margin-left: 50px;
}
#navShape {
	width: 100px;
	height: 50px;
	background: transparent;
	position: fixed;
  margin-left: 5%;
  margin-top: -2em;
}


#navShape:after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: -40px;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 25px solid #f8f8f8;
}

/*********************************** Footer ************************************/

#mainBodyWrapper {
	min-height:100%;
	position:relative;
}
#headerSection {

	padding:10px;
}
#contentSection {
	padding-bottom:75px; /* Height of the footer element */
}
#footerSection {
	background:#efefef;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
  text-align: center;
}
