<h1>Careers</h1>

<button type="button" name="button" ng-click="adminLogin()">Admin Login</button>

<!--///////////////////////////////////Main Careers Section///////////////////////////////////////-->
<section>

  <header class="">
    <p>When you work for One Way, you’re joining a highly successful organization at the forefront of Cellular Infrastructure. One Way offers exciting career opportunities, that extend your base knowledge.</p>
  </header>

  <button type="button" name="button" ng-click="getJobs()">Refresh Posts</button>
  <br>

  <section>
    <!-- <article class="" ng-repeat="job in jobsArray"> -->
    <article class="" ng-repeat="job in jobsArray track by $index" ng-show="job.jobposting_open == true" >
      <h4>Job Title: {{job.jobposting_name}}</h4>
      <h5 > Description: </h5>
      <div ng-bind-html="job.jobposting_description"></div>
      <input type="text" placeholder="Name" ng-model="job.applicantName" >
      <input type="text" placeholder="Email" ng-model="job.applicantEmail" >
      <input type="text" placeholder="Comments or Questions" ng-model="commentsQuestions" >
      <button type="submit" name="button" ng-click="submitJobApplication(job)">SUBMIT</button>
      <!-- <button type="submit" name="button" ng-click="testClick(job)">SUBMIT</button> -->

      <!-- br and hr just for easy reading but should delete -->
      <br><hr>

    </article>
  </section>

</section>
