<div class="container home-container">
  <div id="home-content">
    <h1>One Way Building Services</h1>
    <h3>There’s only One Way <i class="fa fa-arrow-right blue-highlight" aria-hidden="true"></i>The Right Way</h3>
  </div>
  <div id="home-images">
    <img src="../assets/images/cell-tower-1920.jpg" alt="">
    <img src="../assets/images/Currents1_0117.jpg" alt="">
    <img src="../assets/images/Mobile-Mast-Antenna-Cell-Tower-Microwave-Tower-2252153.jpg" alt="">
    <img src="../assets/images/Cell_Tower_at_Sunset_CLOSE.jpg" alt="">
  </div>
  <div class="home-sub-content row">
    <div class="col-xs-6">
      <h4 class=" blue-highlight"> 40 Years </h4>
      <p>2017 marks One Way Building Services’ 40-year anniversary and we’re proud to have served countless customers throughout the Midwest and beyond.</p>
    </div>
    <div class="col-xs-6">
      <h4 class=" blue-highlight"> Our Services </h4>
    <p>With a vast portfolio of services offered under one roof, we are an all-encompassing provider of cellular telecommunications infrastructure and more.
    <a  class=" blue-highlight" href="#!/services">Click here</a> to find out more about our services and how our teams work seamlessly to ensure all bases are covered. </p>
    </div>
  </div>
    <div class="home-sub-content row">
      <div class="col-xs-6">
        <h4 class=" blue-highlight"> Since 1977</h4>
        <p>One Way Building Services remains a highly respected company providing full services to the cellular construction &amp; maintenance industries.</p>
      </div>
      <div class="col-xs-6">
        <h4 class=" blue-highlight"> Motto </h4>
      <p>"Your attitude, not your aptitude, will determine your altitude."</p>
      <cite>- Zig Ziglar</cite>
      </div>
    </div>
</div>
