<img class="tower-image" src="../assets/images/Cell-Tower.png">
<div class="container home-container">
  <div id="home-content">
    <h1>One Way Building Services</h1>
    <h3>There’s only One Way <i class="fa fa-arrow-right orange-highlight" aria-hidden="true"></i>The Right Way</h3>
  </div>
  <div id="home-images" class="col-md-12" style="margin-bottom: 10px;" >
    <img src="../assets/images/cell-tower-1920.jpg" alt="">
    <img src="../assets/images/Currents1_0117.jpg" alt="">
    <img src="../assets/images/Mobile-Mast-Antenna-Cell-Tower-Microwave-Tower-2252153.jpg" alt="">
    <img src="../assets/images/Cell_Tower_at_Sunset_CLOSE.jpg" alt="">
  </div>

  <div class='row col-md-10' style="min-height: 250px; background-color:#2274A5; margin-bottom: 10px;"></div>
  <div class='row col-md-10 col-md-offset-2' style="min-height: 250px; background-color:#CECECE; margin-bottom: 10px;"></div>
  <div class='row col-md-10' style="min-height: 250px; background-color:#EE8434; margin-bottom: 10px;"></div>
