<div class="container services-container">
  <h1>Services</h1>
  <section class="contain col-xs-12 col-md-4">
    <div id="card-1" class="card" ng-click="flipCard(1)">
      <figure class="front">
        <h3> Service #1 </h3>
      </figure>
      <figure class="back">
        <h3> Service #1 </h3>
        <p> Details About the service </p>
      </figure>
    </div>
  </section>
    <section class="contain col-xs-12 col-md-4">
      <div id="card-2" class="card" ng-click="flipCard(2)">
        <figure class="front">
          <h3> Service #2 </h3>
        </figure>
        <figure class="back">
          <h3> Service #2 </h3>
          <p> Details About the service </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-4">
      <div id="card-3" class="card" ng-click="flipCard(3)">
        <figure class="front">
          <h3> Service #3 </h3>
        </figure>
        <figure class="back">
          <h3> Service #3 </h3>
          <p> Details About the service </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-4">
      <div id="card-4" class="card" ng-click="flipCard(4)">
        <figure class="front">
          <h3> Service #4 </h3>
        </figure>
        <figure class="back">
          <h3> Service #4 </h3>
          <p> Details About the service </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-4">
      <div id="card-5" class="card" ng-click="flipCard(5)">
        <figure class="front">
          <h3> Service #5 </h3>
        </figure>
        <figure class="back">
          <h3> Service #5 </h3>
          <p> Details About the service </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-4">
      <div id="card-6" class="card" ng-click="flipCard(6)">
        <figure class="front">
          <h3> Service #6 </h3>
        </figure>
        <figure class="back">
          <h3> Service #6 </h3>
          <p> Details About the service </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-4">
      <div id="card-7" class="card" ng-click="flipCard(7)">
        <figure class="front">
          <h3> Service #7 </h3>
        </figure>
        <figure class="back">
          <h3> Service #7 </h3>
          <p> Details About the service </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-4">
      <div id="card-8" class="card" ng-click="flipCard(8)">
        <figure class="front">
          <h3> Service #8 </h3>
        </figure>
        <figure class="back">
          <h3> Service #8 </h3>
          <p> Details About the service </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-4">
      <div id="card-9" class="card" ng-click="flipCard(9)">
        <figure class="front">
          <h3> Service #9 </h3>
        </figure>
        <figure class="back">
          <h3> Service #9 </h3>
          <p> Details About the service </p>
        </figure>
      </div>
    </section>
</div>
