<div class="container services-container">
  <div class="row">
    <h1 class=" col-md-3 menu-header">Our Services</h1>
  </div>

  <div id="servicesLandingStatic">
    <hr class="style2">
    <h3 style="text-transform: uppercase">There’s only One Way <i class="fa fa-arrow-right blue-highlight" aria-hidden="true"></i> <span style= "font-weight: 00"> The Right Way </span></h3>
    <hr class="style2">
    <span id="servicesLandingDetails">
    <p>With One Way’s highly skilled team, we are capable of working with old brownfield sites to building brand new greenfield sites and anything in between. We only hire and train the best and always send our own employees
    to get the job done right the first time, every time. </p>
    <p>Although we specialize in telecom infrastructure, our capabilities stretch as far as the airwaves we build in the wireless business. Click on a sevice below to check it out: </p>
    </span>
  </div>

  <div class="row">
  <div class="col-md-3 services-menu">
    <ul id="services-menu">
      <li ng-click="showService(1)">Civil</li>
      <li ng-click="showService(2)">Electrical</li>
      <li ng-click="showService(3)">Integration</li>
      <li ng-click="showService(4)">Mainetenance &amp; Service</li>
      <li ng-click="showService(5)"> Tower Construction &amp; Upgrade</li>
      <!-- <li ng-click="showService(6)">Tower Modification</li> -->
      <li ng-click="showService(7)">Troubleshooting</li>
      <li ng-click="showService(8)">Welding</li>
      <li ng-click="showService(9)">Crane Services</li>
      <li ng-click="showService(10)">DAS</li>
    </ul>
  </div>

  <div class="col-md-9 services-content">
    <!-- <div id="serviceLanding">
    <h3>There’s only One Way <i class="fa fa-arrow-right blue-highlight" aria-hidden="true"></i>The Right Way</h3>
      <p>With One Way’s highly skilled team, we are capable of completely rebuilding
      brownfield sites to building brand new greenfield sites anywhere your business
      needs require. We only hire and train the best and always send our own employees
      to get the job done right the first time, every time. </p>
      <p>Although we specialize in telecom infrastructure, our capabilities stretch as far as the airwaves we build in the wireless business.</p>
    </div> -->
    <div id="service-1" class="hidden" >
        <h3 class="service-type"> Civil </h3>
        <p> Our Civil Department can provide the necessary elements required to complete a full Cellular Telecommunications build-out. Our crews are capable of building poured-wall foundations, excavation and earthmoving, placing grounding wire, ground rods, and ground wells. We also provide cad-weld installations to the specifications of our clients. </p>
          <img class="col-md-4 col-md-offset-1" src="../assets/images/services/building-640.jpg">
          <ul class="col-md-3">
              <li>CDL</li>
              <li>Underground Piping</li>
              <li>Excavation</li>
              <li>Masonry</li>
              <li>All Types of Wall </li>
          </ul>
            <ul class="col-md-3">
                <li>Per Footing</li>
                <li>Fencing</li>
                <li>Sprinkler Systems</li>
                <li>Foundation Modification &amp; Repair</li>
            </ul>
        </div>
    <div id="service-2" class="hidden" >
        <h3 class="service-type"> Electrical </h3>
        <p> The Electrical Department provides complete turn-key cellular telecommunications installations.  We have a fully equipped staff of licensed electricians capable of working on any size project in multiple states. Some of our electrical services include: </p>
        <ul class="col-md-3">
            <li>DC Power Plants</li>
            <li>Private locating services</li>
            <li>Standby Generator Installations &amp; Distribution</li>
            <li>Wiring/Transfer Switches</li>
            <li>Rectifier &amp; Converter Installations &amp; Repair</li>
            <li>Design-Build Shelter Grounding</li>
            <li>Troubleshooting &amp; Repair of Tower Lighting Systems</li>
            <li>50, 80 and 130 KW generator installation and distribution wiring/transfer switch</li>
            <li>DC Power Plant, Rectifier, Converter ‐ Installation, -48 DC shelf additions</li>
            <li>Design &amp; build shelters from the 200 amp service to the final shelter grounding</li>
            <li>Troubleshooting and Repair of all major brands of tower lighting systems</li>
            <li>3 point fall method and Handheld Megger-style Ground Resistivity Testing</li>
            <li>XIT Grounding System installation</li>
            <li>Coordinating of Power and Telco utilities</li>
            <li>Trenching and backhoe capabilities</li>
            <li>Install and punch-down telco cables</li>
            <li>Design, build and install shelters/interiors</li>
            <li>Underground boring of 2″ to 4″ HDPE single or parallel runs</li>
            <li>Boom truck and crane capabilities</li>
        </ul>
      </div>

    <div id="service-3" class="hidden" >
        <h3 class="service-type"> Integration </h3>
        <p>Our Integration Department is the final step in the process of completing a site. They’re responsible for getting the site ‘on air’. </p>

        <p>Whether it’s a full site build or a technology upgrade, our dedicated team of certified professionals are ready to handle any situation. One Way’s in-house, certified integrators and technicians are capable of taking your vision and making it a reality.</p>
        <ul class="col-md-3">
          <li>Brownfield Site Updates</li>
          <li>Equipment Upgrades</li>
          <li>Equipment Replacement</li>
          <li>Equipment Troubleshooting</li>
        </ul>
    </div>
    <div id="service-4" class="hidden" >
        <h3 class="service-type"> Maintenance &amp; Service </h3>
        <p> The Maintenance &amp; Service Department is outfitted to meet your regular maintenance needs.</p>
        <h4>Cell-Site Troubleshooting, Repair or Replacement of:</h4>
        <ul class="col-md-3">
          <li>Fiber</li>
          <li>RRH/RRU</li>
          <li>Coax</li>
          <li>Antenna, including interference troubleshooting</li>
          <li>Microwave, including alignment &amp; pathing needs</li>
        </ul>
    </div>
    <div id="service-5" class="hidden" >
      <h3 class="service-type"> Tower Consruction &amp; Upgrade </h3>
      <p>Our top specialty, we provide first class cellular telecommunications infrastructure. In our 40 years of service, we’ve built and upgraded all types of telecom sites including rooftops, raw land monopoles, self- supports, guyed towers, collocates, water tanks, stealth sites and beyond.</p>
      <p>As existing tower infrastructure continues to need updates in the quickly changing telecom landscape, One Way’s Tower Construction &amp; Modifications department is ready and capable to handle all your upgrade needs. Our teams are equipped with first-hand knowledge, state-of-the-art equipment, live feed update capabilities, and so much more.</p>
      <p>We also do guyed tower plumb &amp; tensioning as well as other types of tower modifications.</p>
    </div>
    <div id="service-7" class="hidden" >
        <h3 class="service-type"> Troubleshooting </h3>
        <p>Our technicians are well versed in the art of not only building top-notch telecom infrastructure but also trouble-shooting all types of issues onsite as well. We are happy to entertain bid requests for various repair contracts from your business. </p>
    </div>
    <div id="service-8" class="hidden" >
        <h3 class="service-type"> Welding </h3>
        <p>One Way’s fully equipped staff includes a highly-experienced staff of certified welders. Welding on towers, building custom designed platforms and stairways, specialized welding on water tanks, and competent fabrication are all part of what makes our Welding Department second to none.</p>
        <p>We primarily perform the following work but are not limited to:</p>
        <ul class="col-md-3">
          <li>Tower Modification</li>
          <li>Structural Upgrades</li>
          <li>Welding at 400ft or higher</li>
          <li>Overhead Welding</li>
          <li>Platform Construction</li>
          <li>Unique Fabrication</li>
          <li>Half Pipe Reinforcement</li>
          <li>Diagonal &amp; Horizontal Bracing</li>
          <li>Guyed Wire Swap-outs/Plumb &amp; Tension</li>
          <li>Tower Foundation Modifications</li>
        </ul>
    </div>
    <div id="service-9" class="hidden" >
        <h3 class="service-type"> Crane Services </h3>
        <p> Most of our work is several feet up; however, the materials are not.  One Way has its own Manitex Crane to take care of many of our needs.  With Certified Crane Operators on-staff, we’re able to adequately cover your crane service demands.</p>
        <p>Our Crane Services are also available for hire, we would be happy to entertain a bid for your needs.</p>
    </div>
    <div id="service-10" class="hidden" >
        <h3 class="service-type"> Distributed Antenna System (DAS) </h3>
        <p>When people think of wireless signals, they think of towers scattered across a landscape. But when it comes to concentrated crowds, DAS gets it right by utilizing a network of smaller cells that work together to create a strong, seamless wireless network. Used in stadiums and large buildings, DAS allows users to never lose connection and maintain fast data transfer rates meaning no dead spots, and no missed important emails or calls even when there are thousands of devices on the network. DAS does all of this, plus there is no need for an unsightly cell tower.</p>

        <p style="text-align: center"> Call One Way Building Services now to talk with our professionals about our DAS services, we get DAS done <i class="fa fa-arrow-right blue-highlight" aria-hidden="true"></i>The Right Way.</p>
    </div>
</div>
</div>
