<div class="row">
  <h1 class=" col-md-3 menu-header our-staff-header">Our Staff</h1>
</div>
<div class="blueHash">
</div>

<div class="container staff-container">
  <!-- <h1>Our Staff</h1> -->
  <h3 class="manage-heading ceo-heading">Building Our Company From The Ground Up </h3>
  <div class="row header-row" style="margin-bottom: 25px;">

    <div class="col-md-9 ceo-text">
      <h3>Gary Bormes</h3>
      <h4> President &amp; CEO</h4>
      <p>A proud Navy Veteran, Gary started One Way Building Services, Inc. 40 years ago in 1977 on his strong business sense and dedication to doing things “One Way – the Right Way”. Doing business “The Right Way” is not just a motto, but a major part of One Way’s culture and is greatly credited with the Company’s longevity and substantial growth over the past 40 years.</p>
      <p>In 1996 during a conversation with a friend on a softball diamond, Gary was asked about his experience with building telecommunications towers. Never having built a telecommunications tower, Gary decided to learn more about this relatively new technology, eventually driving One Way Building Services down a highly specialized path of building and maintaining telecommunications infrastructure. Now, over 20 years since that conversation on the ball field, One Way Building Services is the business partner of choice to all major wireless carriers in the Midwest and beyond.</p>

    </div>
    <div class="col-md-3 ceo">
    </div>
  </div>

  <h3 class="manage-heading"> Management Team </h3>
  <div class="row">
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-1" class="staff" ng-click="staffToggle(1)">
        <figure class="front">
          <h3> Jeff Bormes </h3>
        </figure>
        <figure class="back">
          <h3> Vice President of Operations </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-2" class="staff" ng-click="staffToggle(2)">
        <figure class="front">
          <h3> Claire G. Christison </h3>
        </figure>
        <figure class="back">
          <h3> Director of Recruitment &amp; Human Resources</h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-3" class="staff" ng-click="staffToggle(3)">
        <figure class="front">
          <h3> Cory Fair </h3>
        </figure>
        <figure class="back">
          <h3> Civil Manager </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-4" class="staff" ng-click="staffToggle(4)">
        <figure class="front">
          <h3> Brian Gallagher </h3>
        </figure>
        <figure class="back">
          <h3> General Manager </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
  </div>
  <div id ="second-row" class="row">
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-5" class="staff" ng-click="staffToggle(5)">
        <figure class="front">
          <h3> Greg Held </h3>
        </figure>
        <figure class="back">
          <h3> Vice President of Finance &amp; Human Resources </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-6" class="staff" ng-click="staffToggle(6)">
        <figure class="front">
          <h3> Rodd Hustad </h3>
        </figure>
        <figure class="back">
          <h3> Construction Superintendent </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-7" class="staff" ng-click="staffToggle(7)">
        <figure class="front">
          <h3> Gene Leroux </h3>
        </figure>
        <figure class="back">
          <h3> Senior Estimator </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-8" class="staff" ng-click="staffToggle(8)">
        <figure class="front">
          <h3> Steve Luebke </h3>
        </figure>
        <figure class="back">
          <h3> Project Manager </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
  </div>
  <div id ="third-row" class="row">
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-9" class="staff" ng-click="staffToggle(9)">
        <figure class="front">
          <h3> Todd Paseka </h3>
        </figure>
        <figure class="back">
          <h3> Maintenance &amp; Technical Services Manager </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-10" class="staff" ng-click="staffToggle(10)">
        <figure class="front">
          <h3> Lance Rosa </h3>
        </figure>
        <figure class="back">
          <h3> Field Construction Manager </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-11" class="staff" ng-click="staffToggle(11)">
        <figure class="front">
          <h3> Jim Schmitt </h3>
        </figure>
        <figure class="back">
          <h3> Electrical Project Manager </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-12" class="staff" ng-click="staffToggle(12)">
        <figure class="front">
          <h3> Chad Segner </h3>
        </figure>
        <figure class="back">
          <h3> Operations Manager &amp; Training Director</h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
  </div>
</div>
