<div class="container staff-container">
  <h1> Our Staff</h1>
  <div class="row">
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-1" class="staff" ng-click="staffToggle(1)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-2" class="staff" ng-click="staffToggle(2)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-3" class="staff" ng-click="staffToggle(3)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-4" class="staff" ng-click="staffToggle(4)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
  </div>
  <div id ="second-row" class="row">
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-5" class="staff" ng-click="staffToggle(5)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-6" class="staff" ng-click="staffToggle(6)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-7" class="staff" ng-click="staffToggle(7)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-8" class="staff" ng-click="staffToggle(8)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
  </div>
  <div id ="third-row" class="row">
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-9" class="staff" ng-click="staffToggle(9)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-10" class="staff" ng-click="staffToggle(10)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-11" class="staff" ng-click="staffToggle(11)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
    <section class="contain col-xs-12 col-md-3">
      <div id="staff-12" class="staff" ng-click="staffToggle(12)">
        <figure class="front">
          <h3> Person's Name </h3>
        </figure>
        <figure class="back">
          <h3> Job Title </h3>
          <p> Details About Team Member. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </figure>
      </div>
    </section>
  </div>
</div>
