<div class="whoWeAreContainer">

  <div class="row">
    <h1 class=" col-md-3 menu-header about-us-header">About Us</h1>
  </div>

  <div class="row container">
    <div class="col-md-3  who-images" id="who-images">
      <div class="image-wrapper">
        <div id="who-slide-1">
          <img class="clear" src="../assets/images/services/building-640.jpg">
          <img class="clear" src="../assets/images/services/crane-640.jpg">
          <img class="clear" src="../assets/images/services/electric-640.jpg">
        </div>
        <div id="who-slide-2" dir="rtl">
          <img class="clear" src="../assets/images/services/excavators-640.jpg">
          <img class="clear" src="../assets/images/services/maintenance-640.jpg">
          <img class="clear" src="../assets/images/services/tower-640.jpg">
        </div>
        <div id="who-slide-3">
          <img class="clear" src="../assets/images/services/tower-two-640.jpg">
          <img class="clear" src="../assets/images/services/trouble-shoot-640.jpg">
          <img class="clear" src="../assets/images/services/weld-640.jpg">
        </div>
      </div>
    </div>
    <div class="col-md-9 who-content">
      <h1>Who We Are</h1>
      <!-- <h3>There’s only One Way <i class="fa fa-arrow-right orange-highlight" aria-hidden="true"></i>The Right Way</h3> -->
      <div  id="who-content">
        <p>We live in a society that expects reliable wireless communications and data transfer everywhere we go. From beautiful downtowns with buildings several hundred feet tall to farmlands in the Midwest plains, wireless infrastructure is at the forefront of humanity’s expansion plans not only across North America, but the entire world.</p>
        <p>Here at One Way Building Services in Edina, MN we’re proud of our 40-year history serving countless customers across the Midwest and beyond. We are a premier provider of telecommunications infrastructure services and continue to be on the cutting edge of new wireless technologies and implementations across the United States. Although we specialize in telecommunications, we work on anything from cell phone towers to general construction projects. You name it, we can build it.</p>
        <p>With several departments under one roof, One Way is uniquely capable of serving as an all-encompassing provider of telecommunications construction and maintenance including, but not limited to civil engineering, electrical engineering, welding, and crane services. All of our departments collaboratively work together to ensure a smooth and successful process from the initial planning phase through project completion. We not only believe in true teamwork, we live it every day!</p>
        <p>When working with One Way as a client, we consider you an essential member of our team.  We treat our business partners with the utmost respect and encourage strong communication between all parties. One Way believes in long-term, mutually beneficial business partnerships, continuing to value personal connections and the benefits of in-person meetings and lively discussions. This is what we are known for, and this passion drives not only ours, but our client’s success. </p>
        <p>We believe in the old adage under promise – over deliver. Our work speaks for itself and our reputation in the Midwest is one we are quite proud of. Our management style is simple but effective, all work or effort is to support those out in the field, the invaluable employees who work at varying heights in all weather conditions.</p>
        <p>That’s our One Way. The Right Way.</p>
      </div>
    </div>
  </div>
</div>
